:root {
  --black: #020202;
  --white: #ffffff;
  --blue: #00425c;
  --cyan: #17a2b8;
}

body {
  background-color: var(--cyan);
}

h1 {
  text-align: center;
}

.donut-chart {
  border-radius: 0.8rem;
  background-color: var(--white);
}
.character {
  text-align: center;
  padding: 10px;
  height: auto;
  width: 250px;
}

.character:hover {
  color: var(--white);
  background-color: var(--blue);
}
.title {
  font-weight: bold;
  margin: 0px;
}
